@import "../../styles/_vars.scss";

.faq__inner {
    margin-bottom: 80px;
    .faq__header {
        color: $accentColor;
        margin-bottom: 65px;
    }
    .faq__items {
        display: flex;
        flex-direction: column;
    }
}
