@import "../../styles/_vars.scss";

.firstScreen {
  position: relative;
  background-image: image-set("../../assets/imgs/first_screen.jpg" 1x, "../../assets/imgs/first_screen_2x.jpg" 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bgColor_dark;
}

.firstScreen :after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.19);
  z-index: -1;
}

.firstScreen__inner {
  margin-top: 231px;
  z-index: 100;
}

.firstScreen__header {
  margin-bottom: 5px;
  font-size: 60px;
  font-weight: 800;
  line-height: 81.71px;
  color: $textColor;
  text-transform: uppercase;
}

.firstScreen__description {
  max-width: 776px;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 600;
  line-height: 43.58px;
  color: $textColor;
}

.firstScreen__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 187px;
}


@media screen and (max-width: $tablet) {
  .firstScreen__inner {
    margin-top: 361px;
  }

.firstScreen__header {
  max-width: 700px;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 65.37px;
}

.firstScreen__description {
  max-width: 568px;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 32.68px;
}

.firstScreen__buttons {
  margin-bottom: 342px;
}
}

@media screen and (max-width: $mobile) {
  .firstScreen__inner {
    margin-top: 123px;
  }

.firstScreen__header {
  max-width: 250px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 27.24px;
}

.firstScreen__description {
  max-width: 240px;
  font-size: 12px;
  line-height: 16.34px;
}

.firstScreen__buttons {
  margin-bottom: 147px;
}
}