@import "vars";

.btn {
    width: 260px;
    padding: 18px 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 18.8px;
    text-decoration: none;
    font-family: $extraFont;

    &:hover{
        // background-color: $greyColor;
        // color: $accentColor;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }
}

.btn_full {
    background-color: $accentColor;
    color: $textColor;
    border: none;
}

.btn_blank {
    padding: 15px 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 3px solid $accentColor;
    color: $accentColor;
}

.btn_smaller {
    width: 170px;
    font-size: 14px;
    line-height: 16.45px;
    padding: 8px 0;
}