@import "vars";

.btn {
    width: 260px;
    padding: 18px 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 18.8px;
    text-decoration: none;
    font-family: $extraFont;

    &:hover{
        // background-color: $greyColor;
        // color: $accentColor;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }
}

.btn_full {
    background-color: $accentColor;
    color: $textColor;
    border: none;
}

.btn_blank {
    padding: 15px 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 3px solid $accentColor;
    color: $accentColor;
}

.btn_smaller {
    max-width: 170px;
    width: 100%;
    font-size: 14px;
    line-height: 16.45px;
    padding: 8px 18px;
}

@media screen and (max-width: $tablet) {
    .btn_smaller {
        max-width: 220px;
        width: 100%;
        font-size: 16px;
        line-height: 18.8px;
        padding: 14px 0;
    }

    .btn_smallerOnTablet {
        width: 180px;
        font-size: 12px;
        line-height: 14px;
        padding: 14px 0;
    }
}

@media screen and (max-width: $mobile) {
    .btn, .btn_smallerOnTablet {
        width: 133px;
        padding: 9px 0;
        font-size: 10px;
        line-height: 11.75px;
    }

    .btn_blank {
        padding: 7px 0;
        border-width: 2px;
    }

    .btn_smaller {
        max-width: 133px;
        width: 100%;
        font-size: 10px;
        line-height: 11.75px;
        padding: 10px 0;
    }

    .btn__biggerOnMobile {
        max-width: 160px;
        width: 100%;
    }
}

@media screen and (max-width: $smallMobile) {
    .btn_smaller {
        max-width: 113px;
        width: 100%;
        font-size: 8px;
        line-height: 9.75px;
        padding: 8px 6px;
    }
}

@media screen and (orientation:landscape)
and (max-width: $landscape) {
    .btn_smaller {
        max-width: 113px;
        width: 100%;
        font-size: 8px;
        line-height: 9.75px;
        padding: 8px 6px;
    }
}

@media screen and (orientation:landscape)
and (max-width: $landscapeMiddle) {
    .btn__biggerOnMobile {
        width: 220px;
        padding: 11px 0;
    }
}