/* Breakpoints */
$smallMobile: 330px;
$mobile: 480px;
$smallTablet: 620px;
$tablet: 959px;
$desktop: 1199px;

/* Colors */
$bgColor: #ffffff;
$bgColor_dark: #000000;
$accentColor: #FF7A00;
$textColor: #ffffff;
$textColor_dark: #000000;

/* Fonts */
$generalFont: 'Open Sans';
$extraFont: 'Public Sans', sans-serif;