@import "../../styles/_vars.scss";

.calculator__header {
    font-size: 48px;
    line-height: 65px;
}

.calculator__main {
    display: flex;
    margin-bottom: 99px;
    justify-content: space-between;
    gap: 35px;
}

.calculator__description {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 139px;
}

.calculator__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;

    &_highlight {
        color: $accentColor;
        margin-bottom: 10px;
    }

    &_bold {
        font-weight: 700;
    }
}

.calculator_modal {
    & .calculator__header {
        font-size: 40px;
        line-height: 54px;
    }

    & .calculator__main {
        margin-bottom: 40px;
        gap: 5px;
    }

    & .calculator__description {
        margin-bottom: 38px;
    }

    & .calculator__text {
        font-size: 16px;
        line-height: 22px;
    
        &_highlight {
            margin-bottom: 8px;
        }
    }
    
}

.calculator__col {
    display: flex;
    flex-direction: column;
    gap: 35px;

     &_second .calculator__cell:last-child {
        gap: 35px;
     }

    &_third .calculator__cell {
       gap: 35px;
       justify-content: flex-end;
    }
}

.calculator__cell {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media screen and (max-width: 1075px) {
        .calculator__text {
            font-size: 16px;
            line-height: 21px;
        }
}
@media screen and (max-width: 970px){
    .calculator__description {
        margin-bottom: 47px;
    }
    
    .calculator__main {
        flex-wrap: wrap;
        margin-bottom: 45px;
        gap: 35px;
    }
    
    .calculator__col {
        display: flex;

        &_first {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
         }
    
        &_second {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 35px;
            gap: 95px;
         }
    
         &_second .calculator__cell:last-child {
            gap: 20px;
         }
    
        &_third .calculator__cell {
           gap: 20px;
           justify-content: flex-end;
        }
    }

    .calculator__buttonWrapper {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: $tablet) {
    .calculator__header {
        font-size: 40px;
        line-height: 54px;
    }
}

@media screen and (max-width: $smallTablet) {
    .calculator {
        & .calculator__main {
            flex-direction: column;
            gap: 10px;
        }
        
        & .calculator__col {
            flex-direction: column;
            gap: 25px;
    
            &_first {
                width: auto;
             }
        
            &_second {
                gap: 35px;
                margin-top: 20px;
             }
        
             &_second .calculator__cell:last-child {
                gap: 10px;
             }
    
            &_third .calculator__cell {
               gap: 10px;
               margin-bottom: -15px;
            }
        }
    
        & .calculator__buttonWrapper {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 705px) {
    .calculator_modal {
        & .calculator__header {
            font-size: 20px;
            line-height: 20px;
        }

        & .calculator__description {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 25px;
        }
        
        & .calculator__main {
            margin-bottom: 35px;
            gap: 10px;
        }
        
        & .calculator__col {
            flex-direction: column;
            gap: 25px;
    
            &_first {
                width: auto;
             }
        
            &_second {
                gap: 35px;
                margin-top: 15px;
             }
        
             &_second .calculator__cell:last-child {
                gap: 10px;
             }
    
            &_third .calculator__cell {
               gap: 10px;
            }
        }
        
        & .calculator__text {
            font-size: 12px;
            line-height: 16px;
        
            &_highlight {
                margin-bottom: -3px;
            }
        }
    
        & .calculator__buttonWrapper {
            justify-content: center;
    
            & > .btn {
                width: 160px;
                padding: 11px 0;
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}

@media screen and (max-width: $mobile){
    .calculator {
        & .calculator__main {
            margin-bottom: 35px;
        }

        & .calculator__header {
            font-size: 20px;
            line-height: 20px;
        }

        & .calculator__description {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 25px;
        }
  & .calculator__text {
            font-size: 12px;
            line-height: 16px;
        
            &_highlight {
                margin-bottom: -3px;
            }
        }
    }

}

@media screen and (max-width: $smallMobile){
    .calculator, .calculator_modal {
        & .calculator__header {
            font-size: 16px;
        }

        & .calculator__description {
            font-size: 10px;
            line-height: 14px;
        }

        & .calculator__text {
            font-size: 10px;
            line-height: 14px;
        }
    }

    .calculator_modal .calculator__main {
        margin-bottom: 25px;
    }
}