@import "../../styles/_vars.scss";

.calculator__header {
    font-size: 32px;
    line-height: 44px;
    margin-left: 50px;
}

.calculator__description {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin-left: 50px;
    margin-bottom: 35px;
}

.calculator__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calculator__rangesBox {
    height: 255px;
    width: 415px;
    background-color: $bgColor;
    padding-top: 35px;
    padding-left: 50px;
}

.calculator__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #4d4d4d;
    margin-left: 1px;
}

.calculator__selectorBox {
    margin-top: 58px;
    position: relative;
    width: 320px;
    top: 0px;
}

.calculator__buttonWrapper {
    position: absolute;
    top: calc(402px - 213px);
    left: 0px;
}

.calculator__selectResponsible {
    position: absolute;
    top: 0px;
    left: 0px;
}

.calculator__selectTypeFactoring {
    position: absolute;
    top: calc(293px - 213px);
    left: 0px;
}
