@import "../../styles/_vars.scss";

.select {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 320px;
    border: 2px solid $accentColor;
    background-color: $bgColor;
}

.select_showOptions {
    position: absolute;
    z-index: 1000;
}
.select_showOptionsFirst {
    z-index: 2000;
}

.select__questionBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: calc(50px - 4px);
    padding-left: 20px;
    padding-right: 20px;
}

.select__questionBtnTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #4d4d4d;
}

.select__questionBtnArrowWrapper {
    width: 16px;
}
.select__questionBtnArrow {
    width: 100%;
    object-fit: contain;
}

.select__options {
    padding-left: 20px;
    padding-top: calc(29px - 12px);
}
.select__optionsRadioFirst {
    margin-bottom: 15px;
}
.select__optionsRadioSecond {
    margin-bottom: calc(15px - 2px);
}

.select__optionsRadio {
    input[type="radio"] {
        display: none;
    }
    label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        user-select: none;
    }
    label:before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        position: absolute;
        left: 0;
        top: 4px;
        background: center / contain no-repeat url(../../assets/imgs/radio.svg);
    }
    input[type="radio"]:checked + label:before {
        background: center / contain no-repeat url(../../assets/imgs/radio-checked.svg);
    }
}

.select__optionsText {
    padding-left: calc(13px + 10px);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #4d4d4d;
}

@media screen and (max-width: $tablet) {
    .select {
        width: 260px;
    }
    .select__questionBtn {
        height: calc(45px - 4px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .select__questionBtnTitle {
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
    }
    .select__questionBtnArrowWrapper {
        width: 12px;
    }

    .select__options {
        padding-left: 20px;
        padding-top: calc(15px - 11px);
    }
    .select__optionsRadioFirst {
        margin-bottom: 15px;
    }
    .select__optionsRadioSecond {
        margin-bottom: calc(15px - 2px);
    }

    .select__optionsRadio {
        label:before {
            width: 11px;
            height: 11px;
            top: 4px;
        }
    }
    .select__optionsText {
        padding-left: calc(11px + 8px);
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
    }
}

@media screen and (max-width: $smallTablet) {
    .select {
        width: 280px;
    }
    .select__questionBtn {
        height: calc(40px - 4px);
        padding-left: 15px;
        padding-right: 15px;
    }
    .select__questionBtnTitle {
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
    }

    .select__options {
        padding-left: 15px;
        padding-top: calc(15px - 10px);
    }
    .select__optionsRadioFirst {
        margin-bottom: 12px;
    }
    .select__optionsRadioSecond {
        margin-bottom: calc(15px - 2px);
    }

    .select__optionsRadio {
        label:before {
            width: 8px;
            height: 8px;
            top: 4px;
        }
    }
    .select__optionsText {
        padding-left: calc(8px + 5px);
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
    }
}
