@import "../../styles/_vars.scss";

.faqItem {
    border-bottom: 3px solid #b6b6b6;
    padding-right: 5%;
    .faqItem__question {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px; //10px show
        .faqItem__question__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 33px;
        }
        .faqItem__question__btn {
            height: 20px;
            align-self: center;
            img {
                height: 100%;
            }
        }
    }
    .faqItem__question_smaller {
        margin-bottom: 10px;
    }
    .faqItem__answer {
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 15px;
        padding-right: 10%;

        div,
        ol > li {
            margin-bottom: 10px;
        }

        ol,
        ul {
            list-style-position: inside;
        }
        ul {
            li {
                list-style: none;
            }
            li:before {
                content: "·";
                font-size: 40px;
                vertical-align: middle;
                padding: 0px 10px;
            }
        }
    }
}

.faqItem__question__btn {
    &:hover {
        background-color: $accentColor;
        opacity: 0.8;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }
}
