@import "../../styles/_vars.scss";

.caseBox {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    .caseBox__scheme {
        align-self: center;
        height: 190px;
        .caseBox__schemeImg {
            height: 100%;
            width: auto;
        }
    }
    .caseBox__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 10px;
        .caseBox__textTitle {
            color: $textColor_dark;
            font-size: 24px;
            font-weight: 800;
            line-height: 33px;
        }
        .caseBox__textSubtitle {
            color: $textColor_dark;
            font-size: 14px;
            font-weight: 600;
            line-height: 19px;
        }
        .linkBox {
            margin-top: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: fit-content;
            &:hover {
                cursor: pointer;
                .linkBox__text {
                    color: $accentColor;
                    transition: color 0.1s ease;
                }
                .linkBox__arrowIcon {
                    fill: $accentColor;
                    transition: fill 0.1s ease;
                }
            }
            .linkBox__text {
                margin-right: 3px;
                color: $textColor_dark;
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                line-height: 19px;
            }
            .linkBox__arrowIcon {
                fill: $textColor_dark;
                margin-top: 7px;
            }
        }
    }
}
#itoutsourcing {
    border-bottom: 1px solid #000000;
}

@media (max-width: $tablet) {
    .caseBox {
        padding-top: 20px;
        padding-bottom: 5px;
        .caseBox__scheme {
            height: 103px;
            margin-bottom: 15px;
        }
        .caseBox__text {
            margin-left: 20px;
            .caseBox__textTitle {
                font-size: 24px;
                font-weight: 800;
                line-height: 33px;
                margin-bottom: 5px;
            }
            .caseBox__textSubtitle {
                font-size: 14px;
                font-weight: 600;
                line-height: 19px;
            }
            .linkBox {
                .linkBox__text {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19px;
                }
                .linkBox__arrowIcon {
                    margin-top: 7px;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .caseBox {
        padding-top: 5px;
        padding-bottom: 5px;
        .caseBox__scheme {
            height: 82px;
            margin-top: 12px;
            margin-bottom: 12px;
        }
        .caseBox__text {
            margin-left: 15px;
            .caseBox__textTitle {
                font-size: 12px;
                font-weight: 800;
                line-height: 16px;
                margin-bottom: 0px;
            }
            .caseBox__textSubtitle {
                font-size: 10px;
                font-weight: 600;
                line-height: 14px;
            }
            .linkBox {
                align-self: flex-end;
                .linkBox__text {
                    margin-right: 2px;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 14px;
                }
                .linkBox__arrowIcon {
                    margin-top: 4px;
                }
            }
        }
    }
}
