@import "../../styles/_vars.scss";

.range {
  position: relative;
}

.range__inputWrapper {
  position: relative;
}

.range__input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 260px;
  height: 7px;
  background: #e6e6e6;
  border-radius: 3px;
  background-image: linear-gradient(#ff7a00, #ff7a00);
  background-repeat: no-repeat;
}

/* Input Thumb */
.range__input::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $accentColor;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

.range__input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $accentColor;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.range__input::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $accentColor;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.range__input::-webkit-slider-thumb:hover {
  background: $accentColor;
}

.range__input::-moz-range-thumb:hover {
  background: $accentColor;
}

.range__input::-ms-thumb:hover {
  background: $accentColor;
}

/* Input Track */
.range__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.range__input::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.range__input::-ms-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* Цифры */

.range__numberWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 26px;
  transform: translateX(-50%);
  margin-left: -10px;
}
.range__number {
  font-size: 12px;
  line-height: 16.34px;
  font-weight: 600;
  white-space: nowrap;
}

@media screen and (max-width: 705px){
  input[type="range"] {
    width: 227px;
    height: 5px;
  }

  .range__number {
    font-size: 10px;
    line-height: 13px;
  }

  .range__input::-webkit-slider-thumb {
    height: 13px;
    width: 13px;
  }
}

@media screen and (max-width: $smallMobile){
  input[type="range"] {
    width: 195px;
  }

  .range__number {
    font-size: 9px;
    line-height: 11px;
  }
}