@import "../../styles/_vars.scss";

.footer {
    flex: 0 0 auto;
    background-color: $bgColor_dark;
    height: 320px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    color: $textColor;
}

.footer__logoWrapper {
   align-self: flex-start;
}

.footer__logo {
    width: 132px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    flex: 3 0 auto;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 108px;
    border-bottom: 1px solid $textColor;
    padding-top: 60px;
    padding-bottom: 38px;
    margin-bottom: 20px;
}

.footer__pages {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    gap: 10px;
}

.footer__casesAndFactoring, .footer__contactsAndScheme {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__agreementAndHelp, .footer__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__link, .footer__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    font-family: $generalFont;
    text-align: start;
}

.footer__telAndSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 35px;
}

.footer__tel {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
}

.footer__icon {
    max-width: 28px;
    width: 100%;
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 43px;
}

@media screen and (max-width: 1100px) {
    .footer__top {
        gap: 58px;
    }
}

@media screen and (max-width: $tablet) {
    .footer {
        height: 195px;
    }

    .footer__inner {
        gap: 30px;
    }
    
    .footer__logo {
        width: 65px;
    }
    
    .footer__top {
        gap: 72px;
        padding-top: 20px;
        padding-bottom: 18px;
        margin-bottom: 22px;
    }
    
    .footer__casesAndFactoring, .footer__contactsAndScheme {
        gap: 15px;
    }
    
    .footer__agreementAndHelp, .footer__description {
        gap: 15px;
    }
    
    .footer__link, .footer__text {
        font-size: 12px;
        line-height:16.34px;
    }
    
    .footer__telAndSocial {
        gap: 16px;
    }
    
    .footer__tel {
        font-size: 16px;
        line-height: 21.79px;
    }

    .footer__social {
        display: flex;
        align-items: center;
        gap: 27px;
    }

    .footer__icon {
        max-width: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 682px) {
    .footer__top {
        gap: 20px;
    }
    
    .footer__agreementAndHelp, .footer__description {
        gap: 5px;
    }
    
    
    .footer__text, .footer__agreement, .footer__help {
        font-size: 8px;
        font-weight: 10.89px;
    }
}

@media screen and (max-width: $smallTablet) {
    .footer__inner {
        flex-direction: column;
        gap: 5px;
    }

    .footer__pages {
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 100px;
        flex: auto;
    }

    .footer__logo {
        width: 31px;
    }

    .footer__top {
        position: relative;
        padding-top: 0;
        padding-bottom: 7px;
        margin-bottom: 5px;
    }

    .footer__market {
        width: 100%;
    }

    .footer__casesAndFactoring, .footer__contactsAndScheme {
        gap: 10px;
    }
    
    .footer__telAndSocial {
        position: absolute;
        top: -27px;
        right: 0;
        gap: 8px;
    }

    .footer__social {
        gap: 15px;
    }

    .footer__icon {
        max-width: 15px;
    }
}

@media screen and (max-width: $mobile) {
    .footer__pages {
        column-gap: 50px;
    }
    
    .footer__bottom {
        gap: 0;
        flex-direction: column;
    }
    
    .footer__agreementAndHelp, .footer__description {
        gap: 0;
    }

    .footer__agreementAndHelp {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: $smallMobile) {
    .footer {
        height: 175px;
    }

    .footer__pages {
        row-gap: 5px;
        column-gap: 40px;
    }

    .footer__bottom {
        gap: 3px;
    }

    .footer__link, .footer__text {
        font-size: 8px;
        line-height: 14.34px;
    }

    .footer__casesAndFactoring, .footer__contactsAndScheme {
        gap: 5px;
    }

    .footer__agreementAndHelp, .footer__description {
        gap: 0;
    }


    .footer__tel {
        font-size: 12px;
        line-height: 17.07px;
    }
}