@import "../../styles/_vars.scss";

.footer {
    flex: 0 0 auto;
    background-color: $bgColor_dark;
    height: 320px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    color: $textColor;
}

.footer__logoWrapper {
    align-self: flex-start;
    margin-right: 48px;
}

.footer__logo {
    width: 132px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    flex: 3 0 auto;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $textColor;
    padding-top: 60px;
    padding-bottom: 38px;
    margin-bottom: 20px;
}

.footer__pages {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    margin-right: 108px;
}

.footer__casesAndFactoring,
.footer__contactsAndScheme {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    & :first-child {
        margin-bottom: 22px;
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__agreementAndHelp,
.footer__description {
    display: flex;
    flex-direction: column;
}

.footer__agreement,
.footer__description .footer__text:first-child {
    margin-bottom: 10px;
}

.footer__link,
.footer__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    font-family: $generalFont;
    text-align: start;
}

.footer__link:hover {
    color: $accentColor;
    transition: color 0.1s ease;
}
.footer__link:focus {
    color: $accentColor;
}

.footer__telAndSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__tel {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    margin-bottom: 35px;
}

.footer__icon {
    fill: #ffffff;
    max-width: 28px;
    width: 100%;

    &:hover {
        fill: $accentColor;
        transition: fill 0.1s ease;
    }
}
.footer__social a:focus svg {
    fill: $accentColor;
}

.footer__social {
    display: flex;
    align-items: center;

    & a:first-child {
        margin-right: 43px;
    }
}

@media screen and (max-width: 1100px) {
    .footer__pages {
        margin-right: 58px;
    }
}

@media screen and (max-width: $tablet) {
    .footer {
        height: 195px;
    }

    .footer__logoWrapper {
        margin-right: 30px;
    }

    .footer__logo {
        width: 65px;
    }

    .footer__top {
        padding-top: 20px;
        padding-bottom: 18px;
        margin-bottom: 22px;
    }

    .footer__casesAndFactoring,
    .footer__contactsAndScheme {
        & :first-child {
            margin-bottom: 15px;
        }
    }

    .footer__link,
    .footer__text {
        font-size: 12px;
        line-height: 16.34px;
    }

    .footer__tel {
        font-size: 16px;
        line-height: 21.79px;
        margin-bottom: 16px;
    }

    .footer__social {
        display: flex;
        align-items: center;

        & a:first-child {
            margin-right: 27px;
        }
    }

    .footer__icon {
        max-width: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 682px) {
    .footer__pages {
        margin-right: 20px;
    }

    .footer__agreement,
    .footer__description .footer__text:first-child {
        margin-bottom: 5px;
    }

    .footer__text,
    .footer__agreement,
    .footer__help {
        font-size: 8px;
        font-weight: 10.89px;
    }
}

@media screen and (max-width: $smallTablet) {
    .footer__inner {
        flex-direction: column;
    }

    .footer__logoWrapper {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .footer__pages {
        justify-content: flex-start;
        flex-wrap: wrap;
        flex: auto;
    }

    .footer__contactsAndScheme {
        margin-left: 100px;
        margin-bottom: 10px;
    }

    .footer__logo {
        width: 31px;
    }

    .footer__top {
        position: relative;
        padding-top: 0;
        padding-bottom: 7px;
        margin-bottom: 5px;
    }

    .footer__market {
        width: 100%;
    }

    .footer__casesAndFactoring :first-child,
    .footer__contactsAndScheme :first-child {
        margin-bottom: 10px;
    }

    .footer__telAndSocial {
        position: absolute;
        top: -27px;
        right: 0;
    }

    .footer__tel {
        margin-bottom: 8px;
    }

    .footer__social {
        & a:first-child {
            margin-right: 15px;
        }
    }

    .footer__icon {
        max-width: 15px;
    }
}

@media screen and (max-width: $mobile) {
    .footer__bottom {
        gap: 0;
        flex-direction: column;
    }

    .footer__agreement,
    .footer__description .footer__text:first-child {
        margin-bottom: 0;
    }

    .footer__agreementAndHelp {
        flex-direction: column-reverse;
    }

    .footer__contactsAndScheme {
        margin-left: 50px;
    }
}

@media screen and (max-width: $smallMobile) {
    .footer {
        height: 175px;
    }

    .footer__casesAndFactoring,
    .footer__contactsAndScheme {
        margin-right: 5px;
    }

    .footer__casesAndFactoring :first-child,
    .footer__contactsAndScheme :first-child {
        margin-bottom: 5px;
    }

    .footer__contactsAndScheme {
        margin-bottom: 5px;
    }

    .footer__link,
    .footer__text {
        font-size: 8px;
        line-height: 14.34px;
    }

    .footer__tel {
        font-size: 12px;
        line-height: 17.07px;
    }
}
