@import "../../styles/_vars.scss";

.interaction {
    padding-top: 293px;
    margin-bottom: 100px;
}

.interaction__inner {
    display: flex;
    flex-direction: column;
}

.interaction__content {
    display: flex;
    gap: 33px;
}

// .interaction__left {
//   position: relative;
// }

.interaction__header {
    // margin-bottom: 74px;
}

.interaction__imgWrapper {
    // position: absolute;
    // width: 42vw;
    // top: 0;
    // left: 0;
    width: 695px;
    margin-left: -117px;
}

.interaction__img {
    width: 100%;
}

.interaction__buttons {
    display: flex;
    gap: 10px;
}

.interaction__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    // min-width: 600px;
    max-width: 600px;
    margin-top: 50px;
}

.interaction__item {
    display: flex;
    align-items: center;
    gap: 38px;
}

.interaction__numberWrapper {
    display: flex;
    min-width: 29px;
    justify-content: center;
}

.interaction__number {
    font-size: 48px;
    font-weight: 800;
    line-height: 65.37px;
    color: $accentColor;

    &_grey {
        color: #D9D9D9
    }
}

.interaction__description {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    color: $textColor_dark;
}

@media screen and (max-width: $tablet) {
    .interaction__content {
        flex-direction: column;
        margin-bottom: 25px;
        // align-items: center;
    }

    .interaction__imgWrapper {
        // // width: 42vw;
        // width: 695px;
        margin-left: 0;
    }

    .interaction__buttons {
        flex-direction: column;
    }
}