@import "../../styles/_vars.scss";

.documents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.documents__header {
    // display: flex;
    margin-bottom: 37px;
}

.documents__list {
    display: flex;
    flex-direction: column;
    height: 488px;
    padding: 30px 15px;
    background-color: #F3F3F3;
}

.documents__link {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    color: $textColor_dark;
    border-bottom: 3px solid #FFFFFF;

    &:not(:first-child) {
        padding-top: 10px;
    }
}

// @media screen and (max-width: 1070px) {
//     .documents__header {
//         font-size: 31px;
//         line-height: 45px;
//         margin-bottom: 33px;
//     }
//  }

@media screen and (max-width: 1130px) {
    .documents__header {
        font-size: 48px;
        line-height: 65px;
        margin-bottom: 10px;
    }

    .documents__list {
        // height: 182px;
        height: 100%;
        padding: 21px 24px;
    }

    .documents__link:last-child {
        border-bottom: none;
    }

    .documents__link:not(:last-child) {
        padding-bottom: 12px;
    }

    .documents__link:not(:first-child) {
        padding-top: 15px;
    }
}

@media screen and (max-width: $mobile) {
    .documents__header {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 19px;
    }

    .documents__list {
        // height: 112px;
        padding: 10px 20px;
    }

    .documents__link {
        font-size: 12px;
        line-height: 16.34px;
        border-bottom: 2px solid #FFFFFF;
        padding-bottom: 0;
        
    
        &:not(:first-child) {
            padding-top: 10px;
        }

        &:not(:last-child) {
            padding-bottom: 10px;
        }
    }
}
