@import "../../styles/_vars.scss";

.homePage__casesAndDocuments {
    display: flex;
    gap: 20px;
    margin-bottom: 140px;
}

@media screen and (max-width: $tablet) {
    .homePage__casesAndDocuments {
        flex-direction: column;
        // gap: 20px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: $mobile) {
    .homePage__casesAndDocuments {
        margin-bottom: 40px;
    }
}